
 .Navigation{
  text-align: center;
}
.Navigation ul{
  display: inline-block;
}

html, body {
    height: 100%!important;
    background-color: #E0E0E0!important;
}

html {
    display: table!important;
    margin: auto!important;
}

body, img{
    display: table-cell!important;
    vertical-align: middle!important;
}

.password_input, .username_input{
    width: 100%!important;
}

.custom_button{
  border: 2px solid black;
  background-color: white;
  color: black;
  width:60%;
  padding: 4px;
  font-size: 16px;
  cursor: pointer;
  border-color:#B32728;
  margin: auto;
  display: block;
}

.custom_button:hover {
  background-color: #B32728;;
  color: white;
}

input{
 border: 2px solid black;
  background-color: white;
  color: black;
  padding: 4px;
  font-size: 16px;
  cursor: pointer;
  border-color:#B32728;

}

.welcome{
    margin: auto;
    text-align: center;
    display: block;
}

